<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mint Hill Chess Club</title>
</head>
<body>
    <a href="https://maps.app.goo.gl/GHjaaSHh8d4Pgx1A6">6908 Matthews-Mint Hill Rd #350, Mint Hill, NC 28227</a><br>
    <p>Designed by Daniel Semakov &copy 2024</p>
    <p>
        <a href="https://validator.w3.org/check?uri=referer" target="_blank">
            <img src="images/html_validation.png" alt="HTML Validation">
        </a>
        <a href="https://jigsaw.w3.org/css-validator/check/referer" target="_blank">
            <img src="images/css_validation.png" alt="CSS Validation">
        </a>
        <a href="https://wave.webaim.org/report#/https://webpages.charlotte.edu/dsemako1/itis3135/project/" target="_blank">
            <img src="images/wcag_validation.png" alt="Accessibility Validation">
        </a>
    </p>
</body>
</html>