<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mint Hill Chess Club</title>
    <link rel="stylesheet" href="./styles/style.css">
</head>
<body>
    <header>
        <h1>Mint Hill Chess Club</h1>
    </header>
    <nav>
        <a href="home.html">Home</a>
        <a href="events.html">Events</a>
        <a href="photo_gallery.html">Photo Gallery</a>
        <a href="how_to_play.html">How to Play</a>
        <a href="contact_us.html">Contact Us</a>
    </nav>
</body>
</html>