<div class="footer-links">
    <a href="./">ITIS 3135</a>
    <a href="https://www.linkedin.com/in/daniel-semakov/">LinkedIn</a>
    <a href="https://github.com/DanielSemakov">GitHub</a>
    <a href="https://webpages.charlotte.edu/dsemako1/">CLT Web</a>
    <a href="https://danielsemakov.github.io/">GitHub Web</a>
</div>
<div class="footer-author">
    <p class="footer-text">Designed by DSDesigns Inc &copy; 2024</p>
</div>
<div class="footer-certification">
    <p class="footer-text"><em>Certified in<a href="https://www.freecodecamp.org/certification/DanielSemakov/responsive-web-design">Responsive Web Design</a></em></p>
</div>
<div>
    <a href="https://validator.w3.org/check?uri=referer" target="_blank" id="validation-link-html">
        <img src="images/html_validation.png" alt="HTML Validation">
    </a>
    <a href="https://jigsaw.w3.org/css-validator/check/referer" target="_blank" id="validation-link-css">
        <img src="images/css_validation.png" alt="CSS Validation">
    </a>
    <a href="https://wave.webaim.org/report#/https://webpages.charlotte.edu/dsemako1/itis3135/" target="_blank" id="validation-link-wcag">
        <img src="images/wcag_validation.png" alt="Accessibility Validation">
    </a>
</div>
<script>
    document.getElementById("validation-link-html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href)
    document.getElementById("validation-link-css").setAttribute("href", "https://validator.w3.org/css-validator/validator?uri=" + location.href)
    document.getElementById("validation-link-wcag").setAttribute("href", "https://wave.webaim.org/report#/" + location.href)
</script>
 
